@page
@model StateManagementLab.Views.Home.RegistrationModel
@{
}
<form method="post">
    <p>Please enter your User Name and Password :)</p>
    <p></p>
    <p>User Name: </p>
    <input type="text" name="UserName"/>

    <p>Password: </p>
    <input type="password" name="Password" />

    <br/>
    <p></p>

    <input type="submit" />

</form>